{% extends "base.html.twig" %}
{% block body %}
	<h1>
		<!DOCTYPE html>
		<html lang="fr">
			<head>
				<meta charset="UTF-8">
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<link rel="stylesheet" href="assets/css/style.css">
				<link rel="stylesheet" href="assets/css/bootstrap.min.css">
				<title>Vos livre, manga, dvd ou jeux</title>
				<link rel="shortcut icon" type="image/png" href="assets/img/caddie.png"/>
			</head>
			<body>
				<br>
				<script src="./js/bootstrap.min.js"></script>
				<script src="./js/jquery-3.6.1.min.js"></script>
			</body>
		</html>
	{% endblock %}
